<mat-card>
  <mat-card-header>
    <mat-card-title>Complete form</mat-card-title>
    <mat-card-subtitle>
      This form includes "birthDay" because the context of "all" was provided. (Note that the
      "id" field is in the form though not displayed which is far more typical.
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="form">
      <mat-form-field>
        <label>First Name</label>
        <input matInput formControlName="firstName">
      </mat-form-field>
      <mat-form-field>
        <label>Middle Name</label>
        <input matInput formControlName="middleName">
      </mat-form-field>
      <mat-form-field>
        <label>Last Name</label>
        <input matInput formControlName="lastName">
      </mat-form-field>
      <mat-form-field>
        <label>Birth Date</label>
        <input matInput formControlName="birthDate" [matDatepicker]="picker">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </form>
    <hr>
    <div>Form Status: {{form.status}}</div>
    <div>Form Value: {{form.value | json}}</div>
  </mat-card-content>
</mat-card>
